{% extends 'base_admin.html.twig' %}

{% block container %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-header">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h4>La liste Des Classes</h4>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="index.html"> <i class="feather icon-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Bootstrap Table</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Basic Table</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="page-body">
    <div class="card">
        <div class="card-header">
    <h5> Classes</h5>

    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>

                    <th>Id</th>
                    <th>Nomclasse</th>
                    <th>Nbreeleve</th>
                    <th>Capacite</th>
                    <th>Salle</th>

                    <th>Editer</th>
                    <th>Supprimer</th>

                </tr>
                </thead>
                <tbody>




                <tr>
                    {% for classe in classes %}
                    <td   class="table-info"  ><a href="{{ path('classe_show', { 'id': classe.id }) }}">{{ classe.id }}</a></td>
                    <td class="table-danger">{{ classe.nomClasse }}</td>
                    <td class="table-warning" >{{ classe.nbreEleve }}</td>
                    <td class="table-info" >{{ classe.capacite }}</td>
                    <td class="table-warning" >{{ classe.salle }}</td>


                            <td>
                                <a href="{{ path('classe_edit', { 'id': classe.id }) }}" class="btn btn-grd-info" >edit</a>

                    </td>
                    <td>
                        <a href="{{ path('delC', { 'id': classe.id }) }}" class="btn btn-grd-danger">delete</a>

                    </td>
                </tr>
                {% endfor %}


                </tbody>
            </table>
            <ul>
                <li>
                    <a href="{{ path('classe_new') }}">Create a new classe</a>
                </li>
            </ul>
        </div>
    </div>
    </div>

{% endblock %}
