{% extends 'base_admin.html.twig' %}

{% block container %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">

<div class="col-xl-6 col-md-12">
    <div class="card user-card-full">
        <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 bg-c-lite-green user-profile">
                <div class="card-block text-center text-white">
                    <div class="m-b-25">

                        <img src="{{ asset(eleve.nomimage) }}" class="img-radius" alt="User-Profile-Image" style="width:120px ; height: 150px" >
                    </div>

                </div>
            </div>
            <div class="col-sm-8">
                <div class="card-block">
                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information    {{ eleve.nom }}</h6>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="m-b-10 f-w-600">Identifiant</p>
                            <h6>{{ eleve.id }}</h6>
                        </div>



                        <div class="col-sm-6">
                            <p class="m-b-10 f-w-600">Date de naissance</p>
                            <h6>{% if eleve.datenaissance %}{{ eleve.datenaissance|date('Y-m-d') }}{% endif %}</h6>
                        </div>

                        <div class="col-sm-6">
                            <p class="m-b-10 f-w-600">Prenom</p>
                            <h6>{{ eleve.prenom }}</h6>
                        </div>
                    <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">Age</p>
                        <h6>{{ eleve.age }}</h6>

                    </div>
                    <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">Adresse</p>
                        <h6>{{ eleve.adresse }}</h6>
                    </div>
                    <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">Niveau</p>
                        <h6>{{ eleve.niveau }}</h6>
                    </div>
                        <div class="col-sm-6">
                            <p class="m-b-10 f-w-600">Nombre d'Absence</p>
                            <h6>{{ eleve.nbreAbsence }}</h6>
                        </div>
                        <div class="col-sm-6">
                            <p class="m-b-10 f-w-600">Parent</p>
                            <h6>{{ eleve.user.nom }}</h6>
                        </div>


                    <ul class="social-link list-unstyled m-t-40 m-b-10">
                        <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="facebook"><i class="feather icon-facebook facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="twitter"><i class="feather icon-twitter twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="instagram"><i class="feather icon-instagram instagram" aria-hidden="true"></i></a></li>
                    </ul>


                       <div>
                                <a href="{{ path('eleve_index') }}" class="btn btn-grd-info">Back to the list</a>

                       </div>

                            <div>
                                <a href="{{ path('delete', { 'id': eleve.id }) }}" class="btn btn-grd-info">delete</a>


                    </div>


                    </div>
                </div>
        </div>
    </div>



    </div>
</div>
            </div>
        </div>
    </div>

</div>




{% endblock %}
