{% extends 'base_admin.html.twig' %}

{% block container %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-header">

    <div class="card">
        <div class="card-header">
            <h5>Liste Des Carnet</h5>

        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table table-styling">
                    <thead>
                    <tr class="table-primary">
                        <th>Id</th>
                        <th>Note</th>
                        <th>Appreciation</th>
                        <th>Semestre</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for carnet in carnets %}
                        <tr>
                            <td><a href="{{ path('carnet_show', { 'id': carnet.id }) }}">{{ carnet.id }}</a></td>
                            <td>{{ carnet.note }}</td>
                            <td>{{ carnet.appreciation }}</td>
                            <td>{{ carnet.semestre }}</td>
                            <td>{% if carnet.date %}{{ carnet.date|date('Y-m-d') }}{% endif %}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('carnet_show', { 'id': carnet.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('carnet_edit', { 'id': carnet.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

                <ul>
                    <li>
                        <a href="{{ path('carnet_new') }}">Create a new carnet</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
