{% extends 'base_admin.html.twig' %}

{% block container %}
    <h1>Carnet</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carnet.id }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ carnet.note }}</td>
            </tr>
            <tr>
                <th>Appreciation</th>
                <td>{{ carnet.appreciation }}</td>
            </tr>
            <tr>
                <th>Semestre</th>
                <td>{{ carnet.semestre }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if carnet.date %}{{ carnet.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('carnet_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('carnet_edit', { 'id': carnet.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
